root = true

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

# C++ files
[*.{c++,cc,cpp,cppm,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli}]
cpp_indent_namespace_contents = false
indent_size = 2
